trunk/C#/newTechBookStore/NewTechBookStore/App_WebReferences/DatabaseServ/DatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://NewTechBookStore.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://NewTechBookStore.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://NewTechBookStore.com/">
      <s:element name="GetUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoriesList">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoriesList" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryDetails" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookDetails" />
  </wsdl:message>
  <wsdl:message name="GetBookDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseServiceSoap">
    <wsdl:operation name="GetUserDetails">
      <wsdl:input message="tns:GetUserDetailsSoapIn" />
      <wsdl:output message="tns:GetUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesList">
      <wsdl:input message="tns:GetCategoriesListSoapIn" />
      <wsdl:output message="tns:GetCategoriesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryDetails">
      <wsdl:input message="tns:GetCategoryDetailsSoapIn" />
      <wsdl:output message="tns:GetCategoryDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <wsdl:input message="tns:GetBookDetailsSoapIn" />
      <wsdl:output message="tns:GetBookDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseServiceSoap" type="tns:DatabaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://NewTechBookStore.com/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesList">
      <soap:operation soapAction="http://NewTechBookStore.com/GetCategoriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryDetails">
      <soap:operation soapAction="http://NewTechBookStore.com/GetCategoryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <soap:operation soapAction="http://NewTechBookStore.com/GetBookDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://NewTechBookStore.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseServiceSoap12" type="tns:DatabaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserDetails">
      <soap12:operation soapAction="http://NewTechBookStore.com/GetUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesList">
      <soap12:operation soapAction="http://NewTechBookStore.com/GetCategoriesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryDetails">
      <soap12:operation soapAction="http://NewTechBookStore.com/GetCategoryDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <soap12:operation soapAction="http://NewTechBookStore.com/GetBookDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://NewTechBookStore.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="DatabaseServiceSoap" binding="tns:DatabaseServiceSoap">
      <soap:address location="http://localhost/NTBOSService/DatabaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseServiceSoap12" binding="tns:DatabaseServiceSoap12">
      <soap12:address location="http://localhost/NTBOSService/DatabaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>