C#/NewTechBookStore/NewTechBookStore/App_WebReferences/CurrencyServ/CurrencyConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://NewTechBookStore.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://NewTechBookStore.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://NewTechBookStore.com/">
      <s:element name="Convert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertSoapIn">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ConvertSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="CurrencyConverterSoap">
    <wsdl:operation name="Convert">
      <wsdl:input message="tns:ConvertSoapIn" />
      <wsdl:output message="tns:ConvertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyConverterSoap" type="tns:CurrencyConverterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://NewTechBookStore.com/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CurrencyConverterSoap12" type="tns:CurrencyConverterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap12:operation soapAction="http://NewTechBookStore.com/Convert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyConverter">
    <wsdl:port name="CurrencyConverterSoap" binding="tns:CurrencyConverterSoap">
      <soap:address location="http://localhost/NTBOSService/CurrencyConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="CurrencyConverterSoap12" binding="tns:CurrencyConverterSoap12">
      <soap12:address location="http://localhost/NTBOSService/CurrencyConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>